
.sidebar {
    width: 200px;
    padding: 1rem;
    border-right: 1px solid #ccc;
}

.title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.icon {
    font-size: 0.8rem;
    margin-left: 2px;
}